In [51]:
import pandas as pd

In [52]:
df = pd.read_csv("EYCL Phoenix Rosters  - Sheet1.csv")

In [53]:
df['FIRSTNAME'] = 'Athlete'

In [54]:
df

,DIVISION,TEAMNAME,FIRSTNAME,LASTNAME,PLAYERID,EMAIL,HOMEPHONE,MOBILEPHONE,BIRTHDATE,STREETADDRESS,...,GPA,AAUMEMBERSHIPID,GUARDIANROLE,GUARDIANFIRSTNAME,GUARDIANLASTNAME,GUARDIANPHONE,GUARDIANPHONECARRIER,GUARDIANEMAIL,EXTERNALPLAYERID,CUSTOMFIELDS
0,EYCL,17s UPLAY EYCL Phoenix,Athlete,Abraham Osman,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EYCL,17s UPLAY EYCL Phoenix,Athlete,Christian Nitu,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EYCL,17s UPLAY EYCL Phoenix,Athlete,Diego Ramos,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EYCL,17s UPLAY EYCL Phoenix,Athlete,Hudson Ward,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EYCL,17s UPLAY EYCL Phoenix,Athlete,Ibrahima Sacko,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,EYCL,UPLAY Western Alliance,Athlete,Kai Gibbons,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,EYCL,UPLAY Western Alliance,Athlete,Luke Linder,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,EYCL,UPLAY Western Alliance,Athlete,Mikyle Malabuyoc,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,EYCL,UPLAY Western Alliance,Athlete,Roko Maric,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,EYCL,UPLAY Western Alliance,Athlete,Shem Sawy,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
fnames = []
lnames = []
for i in df["LASTNAME"]:
    try:
        fnames.append(i.split()[0])
        lnames.append(i.split()[1])
    except:
        print(i)

'Char Yeiy'

In [56]:
for i in range(len(df)):
    df.iloc[i, 2] = fnames[i]
    df.iloc[i, 3] = lnames[i]

In [59]:
df.to_csv("eycl.csv")